{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card p-4">
                <h3 class="text-center mb-3">Register</h3>

                <form method="POST">
                    {% csrf_token %}

                    <input type="text"
                           name="username"
                           class="form-control mb-2"
                           placeholder="Username">

                    <input type="email"
                           name="email"
                           class="form-control mb-2"
                           placeholder="Email">

                    <input type="password"
                           name="password"
                           class="form-control mb-2"
                           placeholder="Password">

                    <input type="text"
                           name="phone"
                           class="form-control mb-2"
                           placeholder="Phone">

                    <input type="text"
                           name="department"
                           class="form-control mb-3"
                           placeholder="Department">

                    <button type="submit" class="btn btn-success w-100">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}